<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <form role="form" action="/search/result" th:object="${searchOpt}"
          method="post">
        <div class="form-group">
            <label th:field="opt">검색 방법</label>
            <label>
                <select name="opt" class="form-control">
                    <option value="비정렬 순차탐색">비정렬 순차 탐색</option>
                    <option value="정렬 순차탐색">정렬 순차 탐색</option>
                    <option value="이진탐색">이진 탐색</option>
                    <option value="해시탐색">해시 탐색</option>
                </select>
            </label>
        </div>

        <div class="form-group">
            <label th:for="key">찾을 값 1~100000</label>
            <input type="number" th:field="*{key}" class="form-control"
                   placeholder="찾을 값을 입력하세요.">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br>
    <br>
    <p>
        <a class="btn btn-lg btn-info" methods="get" href="/search/result">검색 목록 보기</a>
    </p>
    <br/>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>